   <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Contact V14</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link href="css/magic-check.css" rel="stylesheet">

        <link rel="icon" type="image/png" href="images/icons/favicon.ico" />

        <link href="~/Responder/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

        <link href="~/Responder/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

        <link href="~/Responder/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />


        <link href="~/Responder/vendor/animate/animate.css" rel="stylesheet" />

        <link href="~/Responder/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />

        <link href="~/Responder/vendor/animsition/css/animsition.min.css" rel="stylesheet" />

        <link href="~/Responder/vendor/select2/select2.min.css" rel="stylesheet" />

        <link href="~/Responder/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />

        <link href="~/Responder/css/main.css" rel="stylesheet" />
        <link href="~/Responder/css/util.css" rel="stylesheet" />


    </head>
    <body>
        <style>
            .wrap-contact100 {
    width: 1000px;
    background: #fff;
    border-radius: 2px;
    padding: 55px 95px 68px 95px;
}
        </style>
        
        <div class="container-contact100">
            <div class="wrap-contact100">

                @RenderBody()

                @*<form class="contact100-form validate-form">
                    <span class="contact100-form-title">
                        Contact Us
                    </span>

                    <label class="label-input100" for="first-name">Your Name *</label>
                    <div class="wrap-input100 rs1 validate-input">
                        <input id="first-name" class="input100" type="text" name="first-name" placeholder="First name">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 rs1 validate-input">
                        <input class="input100" type="text" name="last-name" placeholder="Last name">
                        <span class="focus-input100"></span>
                    </div>

                    <label class="label-input100" for="email">Email Address *</label>
                    <div class="wrap-input100 validate-input">
                        <input id="email" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
                        <span class="focus-input100"></span>
                    </div>

                    <label class="label-input100" for="phone">Phone Number</label>
                    <div class="wrap-input100">
                        <input id="phone" class="input100" type="text" name="phone" placeholder="Eg. +1 800 000000">
                        <span class="focus-input100"></span>
                    </div>

                    <label class="label-input100" for="message">Message *</label>
                    <div class="wrap-input100 validate-input">
                        <textarea id="message" class="input100" name="message" placeholder="Please enter your comments..."></textarea>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-contact100-form-btn">
                        <button class="contact100-form-btn">
                            <span>
                                Submit
                                <i class="zmdi zmdi-arrow-right m-l-8"></i>
                            </span>
                        </button>
                    </div>
                </form>*@

                @*<form class="contact100-form validate-form">
                    <div class="container-contact100-form-btn">
                        <button class="contact100-form-btn">
                            <span>
                                Submit
                                <i class="zmdi zmdi-arrow-right m-l-8"></i>
                            </span>
                        </button>
                    </div>
                    </form>*@
</div>
        </div>



       
        <script src="~/Responder/vendor/jquery/jquery-3.2.1.min.js"></script>

        <script src="~/Responder/vendor/animsition/js/animsition.min.js"></script>
        <script src="~/Responder/vendor/bootstrap/js/popper.js"></script>

        <script src="~/Responder/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Responder/vendor/select2/select2.min.js"></script>
       <script src="~/Responder/vendor/daterangepicker/moment.min.js"></script>
        <script src="~/Responder/vendor/daterangepicker/daterangepicker.js"></script>
  
        <script src="~/Responder/vendor/countdowntime/countdowntime.js"></script>
        <script src="~/Responder/js/main.js"></script>
        


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
        <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
        </script>

    </body>
</html>


