@model UserManagement.Models.User

@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register to Ask Survey</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="icon" type="image/png" href="~/LoginAssets/images/icons/favicon.ico" />

    <link href="~/LoginAssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


    <link href="~/LoginAssets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />


    <link href="~/LoginAssets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />


    <link href="~/LoginAssets/vendor/animate/animate.css" rel="stylesheet" />


    <link href="~/LoginAssets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />


    <link href="~/LoginAssets/vendor/animsition/css/animsition.min.css" rel="stylesheet" />


    <link href="~/LoginAssets/vendor/select2/select2.min.css" rel="stylesheet" />


    <link href="~/LoginAssets/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />

    <link href="~/LoginAssets/css/main.css" rel="stylesheet" />
    <link href="~/LoginAssets/css/util.css" rel="stylesheet" />




    @*for success modal*@
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style type="text/css">
        body {
            font-family: 'Varela Round', sans-serif;
        }

        .modal-confirm {
            color: #434e65;
            width: 525px;
        }

            .modal-confirm .modal-content {
                padding: 20px;
                font-size: 16px;
                border-radius: 5px;
                border: none;
            }

            .modal-confirm .modal-header {
                background: #47c9a2;
                border-bottom: none;
                position: relative;
                text-align: center;
                margin: -20px -20px 0;
                border-radius: 5px 5px 0 0;
                padding: 35px;
            }

            .modal-confirm h4 {
                text-align: center;
                font-size: 36px;
                margin: 10px 0;
            }

            .modal-confirm .form-control, .modal-confirm .btn {
                min-height: 40px;
                border-radius: 3px;
            }

            .modal-confirm .close {
                position: absolute;
                top: 15px;
                right: 15px;
                color: #fff;
                text-shadow: none;
                opacity: 0.5;
            }

                .modal-confirm .close:hover {
                    opacity: 0.8;
                }

            .modal-confirm .icon-box {
                color: #fff;
                width: 95px;
                height: 95px;
                display: inline-block;
                border-radius: 50%;
                z-index: 9;
                border: 5px solid #fff;
                padding: 15px;
                text-align: center;
            }

                .modal-confirm .icon-box i {
                    font-size: 64px;
                    margin: -4px 0 0 -4px;
                }

            .modal-confirm.modal-dialog {
                margin-top: 80px;
            }

            .modal-confirm .btn {
                color: #fff;
                border-radius: 4px;
                background: #eeb711;
                text-decoration: none;
                transition: all 0.4s;
                line-height: normal;
                border-radius: 30px;
                margin-top: 10px;
                padding: 6px 20px;
                border: none;
            }

                .modal-confirm .btn:hover, .modal-confirm .btn:focus {
                    background: #eda645;
                    outline: none;
                }

                .modal-confirm .btn span {
                    margin: 1px 3px 0;
                    float: left;
                }

                .modal-confirm .btn i {
                    margin-left: 1px;
                    font-size: 20px;
                    float: right;
                }

        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
    </style>

    @*end success modal*@

    





</head>
<body>

    <div class="limiter">

        <div class="container-login100" style="background-image: url('../../Images/pic.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">

                    <img src="~/Images/unnamed (1).png" />
                </span>
               
                <form action="" method="post" class="login100-form validate-form p-b-33 p-t-5">
                    





                    <div id="myModal" class="modal">
                        <div class="modal-dialog modal-confirm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="icon-box">
                                        <i class="material-icons">&#xE876;</i>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <h4>Great!</h4>
                                    <p>Account Created.</p>
                                    @*<button class="btn btn-success" data-dismiss="modal"><span>Start Exploring</span> <i class="material-icons">&#xE5C8;</i></button>*@
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100" type="email" name="username" placeholder="email">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="password" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="Confirmpassword" placeholder="Confirm Password">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="form-group">
                        @*  <input  type="hidden" name="Pollster" value="Pollster" >*@
                        @Html.TextBoxFor(m => m.type, new { @Value = "Pollster", @style = "color:white" })
                    </div>
                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn" type="submit" href="#myModal" data-toggle="modal">
                            Create Account
                        </button>
                    </div>
                    <br />

                    <p style="font:20px"> <b>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Already have an Account? <a href="#" style="color:mediumblue">@Html.ActionLink("Login", "Login", "Users", new { area = "" }, new { @style = "color:mediumblue" }) </a> </b></p>

                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>



    <script src="~/LoginAssets/vendor/jquery/jquery-3.2.1.min.js"></script>

    <script src="~/LoginAssets/vendor/animsition/js/animsition.min.js"></script>

    <script src="~/LoginAssets/vendor/bootstrap/js/popper.js"></script>
    <script src="~/LoginAssets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/LoginAssets/vendor/select2/select2.min.js"></script>

    <script src="~/LoginAssets/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/LoginAssets/vendor/daterangepicker/daterangepicker.js"></script>

    <script src="~/LoginAssets/vendor/countdowntime/countdowntime.js"></script>

    <script src="~/LoginAssets/js/main.js"></script>


</body>
</html>



